body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.top-bar {
    max-width: 150px auto;
    padding: 10px;
    background-color: #303030;
}
.button-grp {
    display: inline-block;
    margin-right: 30px;
}
/*
#add-folders:hover{
  background-color: #258193;
  border: none;
  color: white;
} */

.add-button:focus {
  background-color: #258193;
  border: none;
  color: white;

}

.button-grp button {
    border: 1px #DBDBDB solid;
    border-radius: 5px;
    font-size: 12px;
    background-color: #F8F8F8;
    outline: none;
    color: #575757;
    margin-right: 0px;
    padding: 5px 10px;
}
.button-grp button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.active-btn {
    background-color: #6C6C6C !important;
    border: 1px #6C6C6C solid !important;
    color: white !important;
}
.main-window {
    /* display: grid;
    grid-template-columns: 150px auto; */
    width: 100%;
    height: calc(100vh - 70px);
}
.sidebar {
    background-color: #258193;

    height: 100%;
}
.sidebar_title {
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 20px 0px 0px 20px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: 900;
    -webkit-user-select: none;
}
.sidebar_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
}
.sidebar_links li {
    color: #f3f3f3;
    text-transform: capitalize;
    padding: 5px 0px 5px 20px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
    -webkit-user-select: none;
}
.active_link {
    background-color: #252525;
}

.window {
    padding: 20px;
    height: calc(100vh - 110px);
    overflow: scroll;
}

.menu {
    width: 70px;
    height: 45px;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px #999;
    border-radius: 3px;
    list-style: none;
    position: absolute;
    padding: 5px 5px;
}

.menu.off{
    top: -200%;
    left: -200%;
    display: none;
}

.menu-item{
    height: 20px;
    line-height: 1.2;
    font-size: 12px;
    /* font-weight: 100; */
    padding: 1px 1px;
    cursor: pointer;
    text-align: left;
    margin:0;
    /* padding:5px 10px; */
    text-decoration:none;
}

.menu-item:hover,
.menu-item:active{
    color: #000;
    background-color: #E0E0E0;
    font-weight: 400;
}


.single-item {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid #c0c0c0;
    margin-right: 10px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.single-item:hover + #myspan {
  display: block;
}

i.fas.fa-file {
  height: 37px !important
}

.folder {
    font-size: 48px;
    line-height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 0 0;
    width: 100px;
}

.folder_desc {
    text-align: center;
    font-size: 12px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    padding: 0px 4px 0px 4px;
    word-wrap: break-word;
    line-height: 1.5;
}
.blue {
    color: #6CCCF6;
}

.file {
    color: #D8D8D8;
}

/* h1.folder.file {
  height: 35px
} */

/* i.fas.fa-file::before {
  height: 25px !important
} */
.red {
    color: red
}
.listview {
    display: grid;
    grid-template-columns: 50px auto;
    border-bottom: solid 1px lightgray;
}
.folder_desclist {
    padding: 15px 0px 0px 20px;
    font-size: 18px;
    -webkit-user-select: none;
}
