body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* .top-bar {
    max-width: 150px auto;
    padding: 10px;
    background-color: #303030;
} */
.button-grp {
    display: inline-block;
    margin-right: 30px;
}
/*
#add-folders:hover{
  background-color: #258193;
  border: none;
  color: white;
} */


.button-grp button {
    border: 1px #DBDBDB solid;
    border-radius: 5px;
    font-size: 12px;
    background-color: #F8F8F8;
    outline: none;
    color: #575757;
    margin-right: 0px;
    padding: 5px 10px;
}
.button-grp button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.active-btn {
    background-color: #6C6C6C !important;
    border: 1px #6C6C6C solid !important;
    color: white !important;
}
.main-window {
    /* display: grid;
    grid-template-columns: 150px auto; */
    width: 100%;
    height: calc(100vh - 70px);
    padding: 20px;
    /* height: calc(100vh - 110px); */
    /* overflow: scroll; */
}
.sidebar {
    background-color: #258193;

    height: 100%;
}
.sidebar_title {
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 20px 0px 0px 20px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: 900;
    -webkit-user-select: none;
}
.sidebar_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
}
.sidebar_links li {
    color: #f3f3f3;
    text-transform: capitalize;
    padding: 5px 0px 5px 20px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
    -webkit-user-select: none;
}
.active_link {
    background-color: #252525;
}

.window {
    padding: 20px;
    height: calc(100vh - 110px);
    overflow: scroll;
}

.menu-folder {
    min-width: 120px;
    height: 50px;
    background-color: #f4f4f4;
    color: #333;
    list-style: none;
    position: absolute;
    padding: 0 0;
    text-align: left;
    border-radius: 0.25rem;
    cursor: pointer;
}


.menu-file {
  min-width: 180px;
  height: 70px;
  background-color: #f4f4f4;
  color: #333;
  list-style: none;
  position: absolute;
  padding: 0 0;
  text-align: left;
  border-radius: 0.25rem;
  cursor: pointer;
}

.modal-content textarea{
  font-size: 11px !important;
}

.modal-body {
  padding: 14px 14px;
}

.modal-content title{
  font-size: 12px !important;
}

.modal-header {
  padding: 10px 12px !important;
}

.modal-footer {
  padding: 10px 12px !important;
}

.modal-footer button{
  /* width: 30% !important; */
  padding: 4px 10px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.dropdown-item {
  font-size: 13px !important;
}

.hoverPath {
    /* min-width: 50px; */
    max-width: auto;
    min-height: auto;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    /* box-shadow: 2px 2px 2px #999; */
    border-radius: 3px;
    position: absolute;
    padding: 5px 5px;
    font-size: 11px;
    z-index: 5;
}

.hoverFullName {
    /* min-width: 50px; */
    max-width: auto;
    min-height: auto;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    /* box-shadow: 2px 2px 2px #999; */
    border-radius: 3px;
    position: absolute;
    padding: 5px 5px;
    font-size: 11px;
}

.menu-folder.off{
    display: none;
    top: -200%;
    left: -200%;
    margin-bottom: 0;
}

.menu-file.off{
    display: none;
    top: -210%;
    left: -210%;
}

.menu-file.menu-item {
  min-width: 180px;
}

.menu-item {
    min-width: 100px;
    padding:.25rem 1.5rem;
    clear:both;
    height: auto;
    font-size: 13px;
    font-weight:400;
    color:#212529;
    white-space: nowrap;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border:0;
}

.menu-item:focus, .menu-item:hover{color:#16181b;text-decoration:none;background-color:#D3D3D3}
.menu-item.active, .menu-item:active{color:#fff;text-decoration:none;background-color:#007bff}


.single-item {
    display: inline-block;
    text-align: center;
    width: 110px;
    height: 100px;

    margin-right: 10px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.single-item:hover {
  border: #c0c0c0;
  background-color: #F5F5F5
}

.single-item:hover + #myspan {
  display: block;
}

i.far.fa-file-alt {
  font-size: 43px !important;
}

i.fas.fa-folder {
  font-size: 55px !important;
}

#new-folder:hover {
  background-color: #F0F0F0 !important;
}

#btnGroupDrop1:hover {
  background-color: #F0F0F0 !important;
}

#btnGroupDrop2:hover {
  background-color: #F0F0F0 !important;
}

.dropdown-item:hover {
  background-color: #F0F0F0 !important;
}

.folder {
    font-size: 48px;
    line-height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 0 0;
    width: 100px;
}

.folder_desc {
    text-align: center;
    font-size: 12px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    padding: 0px 4px 0px 4px;
    /* word-wrap: break-word; */
    line-height: 1.5;
}
.blue {
    color:#FFA500;
}

.file {
    color: #D8D8D8;
}

/* h1.folder.file {
  height: 35px
} */

/* i.fas.fa-file::before {
  height: 25px !important
} */
.red {
    color: red
}
.listview {
    display: grid;
    grid-template-columns: 50px auto;
    border-bottom: solid 1px lightgray;
}
.folder_desclist {
    padding: 15px 0px 0px 20px;
    font-size: 18px;
    -webkit-user-select: none;
}
